<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Homepage</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>  
    <div class="body"> 
        <div class="header">
            <h1 class="my-5" name="username" id="userName">Welcome, <%= username %></h1>
            <form id="logout" action="/logout" method="get">
                <button type="submit" id="logOut">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>