<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="login-container">
    <h2>Login to Your Account</h2>
    <form method="post" action="/home" id ='loginForm'>
      <input type="text" name = "username" id="loginEmail" placeholder="Enter Your Name" required>
      <input type="password" name = "password" id="loginPassword" placeholder="Enter Your Password" required>
      <div class="remember-me">
        <label>
          <input type="checkbox"> Remember Me
        </label>
        <a href="forgotPassword" id="forgot-password" class = "forgot-password">Forgot Password?</a>
      </div>
      <button type="submit" id="loginBtn">Login</button>
       <button name = "clear" id ='clearBtn' type="submit">Clear</button> 
    </form>
    <a href="signup" id="signup" class = "sign-up">Don't have an account? Sign Up</a>
  </div>
  <script src="/js/clear.js"></script>
</body>
</html>
